{% extends "web_app_base.html" %}
{% load static %}

{% block content %}
    <div class="" style="display:block; width: 70%; margin: auto;">
        <div class="panel" id="spy2">
            <div class="panel-body pn">
                <h3 style="margin-top: 50px">Operational cost of spare parts</h3>
                <table class="table footable" data-filter="#fooFilter">
                    <thead>
                    <tr>
                        <th style="width: 50%">Date</th>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    {% for sp in spare_parts %}
                        <tr>
                            <td>{{ sp.created_at }}</td>
                            <td>{{ sp.amount }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <h3>Operational cost workloads</h3>
                <table class="table footable" data-filter="#fooFilter">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    {% for wl in workload %}
                        <tr>
                            <td style="width: 50%">{{ wl.created_at }}</td>
                            <td>{{ wl.amount }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock content %}

