{% extends "web_app_base.html" %}

{% block title %}
    <title>Diagnosis - Mission</title>
{% endblock title %}


{% load static %}

{% block styles %}


<style type="text/css">
    #mapid {
        height: 50vh;
    }


    /*  HERE THE TRUCK :D*/

    #deco-truck {
        position: absolute;
        right: -20vw;
        width: 20vw;
        z-index: 900;
        top: 1.15rem;
        animation: truck 5s linear 2s 1 forwards;
    }

    @keyframes truck {
        0% {
            position: absolute;
            right: -20vw;
            opacity: 1
        }
        100% {
            position: absolute;
            right: 110vw;
            opacity: 1
        }

    }

    /*END OF THE TRUCK Use carefully this truck*/
</style>
{% endblock styles %}


{% block content %}

    {% if user.is_authenticated %}



   <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <h4><b>Mission: </b><span style="font-weight:300">{{ object.name }}</span></h4>
            </div>

            <!--Decoration truck Martlet Optimus Alliace-->
            <img id="deco-truck" src="{% static 'svg/truck-6.svg' %}" class="img-fluid" alt="">

        </div>
    </div>



<!--Here the map-->
<div id="mapid"></div>

<div class="container">



    <div id="conditions"></div>
    
    <div class="panel-menu">
        <input id="fooFilter" type="text" class="form-control" placeholder="Enter Table Filter Criteria Here...">
    </div>


    <div class="panel-body pn">


        <table class="table footable" data-filter="#fooFilter">
            <thead>
                <tr>
                    <th>Health</th>
                    <th>Vehicle Type</th>
                    <th>Vehicle ID</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
              
                
                {{ listItemPattern }} 
                
                {% for vehicle in vehicle_list %}
                <tr>
                    <td>20%</td>
                    <td>{{ vehicle.type }}</td>
                    <td><a href="{% url 'vehicle' vehicle.id %}">{{ vehicle.name }}</a></td>
                    <td>
                        <button type="button" class="btn btn-info br2 btn-xs fs12 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Normal
                                </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

    {% else %}

        {% include "login_auth.html" %}

    {% endif %}


{% endblock content %}

{% block scripts %}
  
  
<script type="text/javascript">


        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;

        //console.log(L);

        function putMap(position, zoom) {
            var mymap = L.map('mapid').setView(position, zoom);

            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiYWxleGtyaW1pIiwiYSI6ImNqZmRvczVldzRjcGYzM3BraDM3NW9hem0ifQ.jdx6LmufIiv6SYuDUIIbkQ', {
                attribution: 'OPTIMUS, mission tracking tool',
                maxZoom: 18,
                id: 'mapbox.streets',
                accessToken: 'pk.eyJ1IjoiYWxleGtyaW1pIiwiYSI6ImNqZmRvczVldz'
            }).addTo(mymap);
            return mymap
        }


        function putMarker(popup, position, map) {
            var marker = L.marker(position).addTo(map);
            marker.bindPopup(popup);
            return marker;
        }

        function putRoute(from, to, map) {
            var polyline = L.polyline([
                from,
                to
            ], {
                color: '#00000000'
            }).addTo(map);

            var circle_from = L.circle(from, {
                color: 'red',
                fillColor: '#f03',
                fillOpacity: 0.5,
                radius: 50
            }).addTo(map);

            var circle_to = L.circle(to, {
                color: 'green',
                fillColor: '#0f3',
                fillOpacity: 0.5,
                radius: 50
            }).addTo(map);

            return polyline;

        }

        var iconsize = 42;

        var carIcon = L.icon({
            iconUrl: "{% static 'img/transport.png' %}",
            iconSize: [iconsize, iconsize],
            iconAnchor: [iconsize / 2, iconsize],
            popupAnchor: [0, -iconsize],
            shadowSize: [0, 0],
            shadowAnchor: [0, 0]
        });

        // carIcon = null;


        veh_markers = [];

        function json_to_stamps(object_json, map) {
            var markerPopupTemplate = "<table><tr><td colspan=2  align=\"center\"><a href=\"#\">[J192OF42RUS]</a></td></tr><tr><td>Mission:</td><td align=\"right\"><a href=\"##\"> M1 </a></td></tr><tr><td>Health:</td><td align=\"right\">78%</td></tr><tr><td>Driver:</td><td align=\"right\">Sergei</td></tr><tr><td>From:</td><td align=\"right\">Innopolis(RU)</td></tr><tr><td>To:</td><td align=\"right\">Kazan(RU)</td></tr></table>"

            pos = [];
            pos.push(object_json["location"]["lat"]);
            pos.push(object_json["location"]["lon"]);
            console.log(pos);
            id = object_json["vehicle_id"];
            if (veh_markers[id] == null) {
                //
                veh_markers[id] = putMarker(markerPopupTemplate, pos, map);
            } else {
                updateMarker(id, pos);
            }

            if (carIcon != null) {
                veh_markers[id].setIcon(carIcon);
            }
            // putMarker(markerPopupTemplate, pos, map);
        }


        function updateMarker(id, position) {
            veh_markers[id].setLatLng(position);
        }

        function city_to_coordinates(city1, city2, setOfMarkers, L, map) {
            var geocoder = new google.maps.Geocoder();

            if (Array.isArray(city1) && Array.isArray(city2)) {
                                L.Routing.control({
                                    waypoints: [
                                        L.latLng(city1[0], city1[1]),
                                        L.latLng(city2[0], city2[1])
                                    ],
                                    lineOptions: {
                                        addWaypoints: false
                                    },
                                    createMarker: function () {
                                        return null;
                                    }
                                }).addTo(map);

            }
            else if (typeof city1 === 'string' && typeof city2 === 'string') {
                geocoder.geocode({'address': city1}, function (results, status) {
                    var myLocation = [];
                    if (status == google.maps.GeocoderStatus.OK) {

                        myLocation.push(results[0].geometry.location.lat());
                        myLocation.push(results[0].geometry.location.lng());
                        // putMarker("START", myLocation, map);
                        geocoder.geocode({'address': city2}, function (results, status) {
                            var myLocation2 = [];
                            if (status == google.maps.GeocoderStatus.OK) {
                                myLocation2.push(results[0].geometry.location.lat());
                                myLocation2.push(results[0].geometry.location.lng());
                                // putMarker("END", myLocation2, map)


                                putRoute(myLocation, myLocation2, map);


                                                                L.Routing.control({
                                                                    waypoints: [
                                                                        L.latLng(myLocation[0], myLocation[1]),
                                                                        L.latLng(myLocation2[0], myLocation2[1])
                                                                    ],
                                                                    lineOptions: {
                                                                        addWaypoints: false
                                                                    },
                                                                    createMarker: function () {
                                                                        return null;
                                                                    }
                                                                }).addTo(map);


                            }
                        });

                    }

                });
            }
        }

        var super_startpoint = [
            "{{ object.departure_lat }}",
            "{{ object.departure_long }}"];
        var super_endpoint = [
            "{{ object.arrival_lat }}",
            "{{ object.arrival_long }}"];

        console.log(super_startpoint);


        var mymap = putMap(super_startpoint, 15);

        city_to_coordinates(super_startpoint, super_endpoint, [], L, mymap);

        var client;

        
        //Connection to MQTT
        
        function MQTTconnect() {
            // Create a client instance
            client = new Paho.MQTT.Client("35.189.64.191", 8083, "clientId");

            // set callback handlers
            client.onConnectionLost = onConnectionLost;
            client.onMessageArrived = onMessageArrived;

            // connect the client
            client.connect({onSuccess: onConnect});
        }

        // called when the client connects
        function onConnect() {
            // Once a connection has been made, make a subscription and send a message.
            console.log("onConnect");
            client.subscribe("test");
        }

        // called when the client loses its connection
        function onConnectionLost(responseObject) {
            if (responseObject.errorCode !== 0) {
                console.log("onConnectionLost:" + responseObject.errorMessage);
            }
            setTimeout(MQTTconnect, 2000);
        }

        // called when a message arrives
        function onMessageArrived(message) {
            console.log("onMessageArrived:" + message.payloadString);
            obj = JSON.parse(message.payloadString);
            json_to_stamps(obj, mymap);
            var lat = obj["location"]["lat"];
            var lon = obj["location"]["lon"];
            pos = [];
            pos.push(lat);
            pos.push(lon);
            {#mymap.setView(pos, 15);#}
            var result = getConditions(lat, lon);
            var div = document.getElementById('conditions');
            div.innerHTML = JSON.stringify(result);
        }

        function json_conditions_to_plate(conditions_json) {
            wrap = "<div id=\"condit\" class=\"w3-panel w3-white w3-card-4 w3-display-container\">";
            wrap += "<p>AAAAAAAAA</p>"
            wrap += "</div>";
        }

        $(document).ready(function () {
            MQTTconnect();
        });
    </script>

{% endblock scripts %}



