{% extends "web_app_base.html" %} 

{% block title %}
<title>Martlet Optimus Alliance Prognosis</title>
{% endblock title %}

{% load static %} 
{% block styles %}
 <style>
        .click {
            cursor: pointer;
            font-size: 2rem;
            color: #0276cf;
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;

        }

        .click:hover {
            opacity: 0.5;
        }


        .details-control {
            text-align: center;
        }

        .details-control {
            text-align: center;
        }

        .approved-control {
            text-align: center;

        }

        #mapid {
            height: 50vh;
        }

        /*  HERE THE TRUCK :D*/
     
        #deco-truck {
            position: absolute;
            right: -20vw;
            width: 20vw;
            z-index: 900;
            top: 1.15rem;
            animation: truck 5s linear 2s 1 forwards;
        }

        @keyframes truck {
            0% {
                right: -20vw;
                opacity: 1
            }
            100% {
                right: 110vw;
                opacity: 1
            }

        }
    /*END OF THE TRUCK Use carefully this truck*/
     
        /*Critical for healthbars Martlet */

        .bar-set .progress {
            margin: -0.4rem;

        }

        .checked {
            font-size: 1.5rem;
            color: #3dc14a;
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;
        }

        .not-checked {

            font-size: 1.5rem;
            color: #dc2222;
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;
        }

        .report-stick {
            z-index: 999 !important;
            background-color: #0974e6;
            color: white;
            font-size: 1.5rem;
            padding: 0.5rem;
            cursor: pointer;
            -webkit-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s;
        }

        .report-stick:hover {
            transform: scale(1.03);
            opacity: 0.8
        }

        .modal {
            z-index: 9999 !important;
        }
    </style>
{% endblock styles %} 

<!--Here we start page content-->
{% block content %} 

<!--Here we start security authentification-->
{% if user.is_authenticated %}
    

    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <h4><b>Mission: </b><span style="font-weight:300">Kazan - Innopolis Rescue Mission</span></h4>
            </div>

             <!--                Decoration truck Martlet Optimus Alliance-->
            <img id="deco-truck" src="{% static 'svg/truck-6.svg' %}" class="img-fluid" alt="">

        </div>
    </div>



    <!--   Here open the map-->
    <div id="mapid"></div>


    <!--    Here comes the report options-->
    <div class="report-stick" data-toggle="modal" data-target="#report-modal">
        <div class="container">
            <div class="text-center">
                <i class="far fa-file-alt"></i> Preview Report
            </div>

        </div>

    </div>

    <div class="container">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Diagnosis</th>
                    <th>Driver name</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Current location</th>
                    <th>Last maintenance</th>
                    <th>In mission</th>
                    <th>Suggestions</th>
                </tr>
            </thead>

        </table>

    </div>



    <!--Modal content Martelt Optimus Alliance-->
    <div class="modal fade" id="report-modal" tabindex="-1" role="dialog" aria-labelledby="report-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4><b>Mission: </b><span style="font-weight:300">Kazan - Innopolis Rescue Mission</span></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">

                    <p>The mission would be manage in the following way:</p>
                    <div class="table-responsive-lg">
                        <table class="table">
                            <tfooter>
                                <tr class="bg-primary text-white">
                                    <th>Driver name</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Current location</th>
                                    <th>Last maintenance</th>
                                    <th>Approved</th>
                                    <th>Suggestions</th>
                                </tr>
                            </tfooter>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>

                    </div>


                    <p>Suggestions</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Send report</button>
                </div>
            </div>
        </div>
    </div>

{% else %}

    
   {% include "login_auth.html" %}
    
<!--Here we finish security authentification-->
{% endif %} 
<!--Here we finish content of the page -->
{% endblock content %}
  
{% block scripts %}   
    <script>
        $(".report-stick").sticky({
            topSpacing: 0
        });
    </script>


    <script>
        /* Formatting function for row details - modify as you need */
        function format(d) {
            // `d` is the original data object for the row
            return '<table class="bar-set" cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
                '<tr>' +
                '<td>Engine diagnosis:<br>Engine prognosis:</td>' +
                '<td> <div class="progress" style="width:30vw"> <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: ' + d.engine_diagnosis + '%"></div> </div> <br><div class="progress" style="width:30vw"> <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: ' + d.engine_prognosis + '%"></div> </div></td>' +
                '</tr>' +
                '<tr>' +
                '<td>Battery diagnosis:<br>Battery prognosis</td>' +
                '<td> <div class="progress" style="width:30vw"> <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: ' + d.fuel_system_diagnosis + '%"></div> </div> <br><div class="progress" style="width:30vw"> <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: ' + d.fuel_system_prognosis + '%"></div> </div> </td>' +
                '</tr>' +
                '<tr>' +
                '<td>Fuel diagnosis <br> Fuel prognosis:</td>' +
                '<td> <div class="progress" style="width:30vw"> <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: ' + d.battery_diagnosis + '%"></div> </div> <br><div class="progress" style="width:30vw"> <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: ' + d.battery_prognosis + '%"></div> </div></td>' +
                '</tr>' +
                '</table>';
        }

        //DROPDOWN
        $(document).ready(function() {
            var table = $('#example').DataTable({
                "paging": false,
                searching: false,
                info: false,
                
                "ajax": {
                    
                    "beforeSend": function(request) {
                        request.setRequestHeader("Access-Control-Allow-Origin", "*");
                        request.setRequestHeader("Access-Control-Allow-Methods", "POST, GET, OPTIONS, DELETE");
                     
                    },
                    "url": "http://localhost:8081/api/mission/3/prognostics",
                    "type":"GET"
                    
                },
                "columns": [{
                        "className": 'details-control',
                        "orderable": false,
                        "data": null,
                        "defaultContent": '<i class="click fas fa-arrow-circle-down"></i>'
                    },

                    {
                        "data": "driver_name"
                    },
                    {
                        "data": "name"
                    },
                    {
                        "data": "type"
                    },
                    {
                        "data": "position"
                    },
                    {
                        "data": "maitenance"

                    },
                    {
                        "className": 'approved-control',
                        "data": "in_mision"

                    },
                    {
                        "defaultContent": '-'

                    }
                ],

                "columnDefs": [{
                        "targets": [6],
                        "render": function(data) {
                            switch (data) {
                                case '0':
                                    return '<span style="display:none">0</span><i class="not-checked far fa-times-circle"></i>';
                                    break;
                                case '1':
                                    return '<span style="display:none">1</span><i class="checked fas fa-check-circle"></i>';
                                    break;
                            }
                        }
                    }, {
                        //DRPDWN
                        "targets": [7],
                        "data": "id",
                        render: function(data) {


                            $("#select" + data).change(function() {

                                if ($("#select" + data).val() == "Default") {} else {
                                    alert("hello" + data);
                                };

                            });



                            return '<select class="select-prognosis" id="select' + data + '"><option selected>Default</option><option value="1" style="background-color:#7bbe54;color:white;font-weight: 400">Full compatible</option><option value="2" style="background-color:#ffc251;color:white;font-weight: 400">Add spare part</option><option value="3" style="background-color:#ff9c51;color:white;font-weight: 400">Add repair vehicle</option><option value="4" style="background-color:#ff5a51;color:white;font-weight: 400">Incompatible</option></select>';
                        }
                    //!DRPDWN
                    }

                ],

                "order": [
                    [1, 'asc']
                ]
            });

            // Add event listener for opening and closing details
            $('#example tbody').on('click', 'td.details-control', function() {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                } else {
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });
        });
    </script>


    <!--Map script-->
<script>
    var directionsService = new google.maps.DirectionsService;
    var directionsDisplay = new google.maps.DirectionsRenderer;

    //console.log(L);

    function putMap(position, zoom) {
        var mymap = L.map('mapid').setView(position, zoom);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiYWxleGtyaW1pIiwiYSI6ImNqZmRvczVldzRjcGYzM3BraDM3NW9hem0ifQ.jdx6LmufIiv6SYuDUIIbkQ', {
            attribution: 'OPTIMUS, mission tracking tool',
            maxZoom: 18,
            id: 'mapbox.streets',
            accessToken: 'pk.eyJ1IjoiYWxleGtyaW1pIiwiYSI6ImNqZmRvczVldz'
        }).addTo(mymap);
        return mymap
    }


    function putMarker(popup, position, map) {
        var marker = L.marker(position).addTo(map);
        marker.bindPopup(popup);
        return marker;
    }

    function putRoute(from, to, map) {
        var polyline = L.polyline([
            from,
            to
        ], {
            color: '#00000000'
        }).addTo(map);

        var circle_from = L.circle(from, {
            color: 'red',
            fillColor: '#f03',
            fillOpacity: 0.5,
            radius: 50
        }).addTo(map);

        var circle_to = L.circle(to, {
            color: 'green',
            fillColor: '#0f3',
            fillOpacity: 0.5,
            radius: 50
        }).addTo(map);

        return polyline;

    }

    var iconsize = 42;

    var carIcon = L.icon({
        iconUrl: "{% static 'img/transport.png' %}",
        iconSize: [iconsize, iconsize],
        iconAnchor: [iconsize / 2, iconsize],
        popupAnchor: [0, -iconsize],
        shadowSize: [0, 0],
        shadowAnchor: [0, 0]
    });

    // carIcon = null;


    veh_markers = [];

    function json_to_stamps(object_json, map) {
        var markerPopupTemplate = "<table><tr><td colspan=2  align=\"center\"><a href=\"#\">[J192OF42RUS]</a></td></tr><tr><td>Mission:</td><td align=\"right\"><a href=\"##\"> M1 </a></td></tr><tr><td>Health:</td><td align=\"right\">78%</td></tr><tr><td>Driver:</td><td align=\"right\">Sergei</td></tr><tr><td>From:</td><td align=\"right\">Innopolis(RU)</td></tr><tr><td>To:</td><td align=\"right\">Kazan(RU)</td></tr></table>"

        pos = [];
        pos.push(object_json["location"]["lat"]);
        pos.push(object_json["location"]["lon"]);
        console.log(pos);
        id = object_json["vehicle_id"];
        if (veh_markers[id] == null) {
            //
            veh_markers[id] = putMarker(markerPopupTemplate, pos, map);
        } else {
            updateMarker(id, pos);
        }

        if (carIcon != null) {
            veh_markers[id].setIcon(carIcon);
        }
        // putMarker(markerPopupTemplate, pos, map);
    }


    function updateMarker(id, position) {
        veh_markers[id].setLatLng(position);
    }

    function city_to_coordinates(city1, city2, setOfMarkers, L, map) {
        var geocoder = new google.maps.Geocoder();

        if (Array.isArray(city1) && Array.isArray(city2)) {
            L.Routing.control({
                waypoints: [
                    L.latLng(city1[0], city1[1]),
                    L.latLng(city2[0], city2[1])
                ],
                lineOptions: {
                    addWaypoints: false
                },
                createMarker: function() {
                    return null;
                }
            }).addTo(map);

        } else if (typeof city1 === 'string' && typeof city2 === 'string') {
            geocoder.geocode({
                'address': city1
            }, function(results, status) {
                var myLocation = [];
                if (status == google.maps.GeocoderStatus.OK) {

                    myLocation.push(results[0].geometry.location.lat());
                    myLocation.push(results[0].geometry.location.lng());
                    // putMarker("START", myLocation, map);
                    geocoder.geocode({
                        'address': city2
                    }, function(results, status) {
                        var myLocation2 = [];
                        if (status == google.maps.GeocoderStatus.OK) {
                            myLocation2.push(results[0].geometry.location.lat());
                            myLocation2.push(results[0].geometry.location.lng());
                            // putMarker("END", myLocation2, map)


                            putRoute(myLocation, myLocation2, map);


                            L.Routing.control({
                                waypoints: [
                                    L.latLng(myLocation[0], myLocation[1]),
                                    L.latLng(myLocation2[0], myLocation2[1])
                                ],
                                lineOptions: {
                                    addWaypoints: false
                                },
                                createMarker: function() {
                                    return null;
                                }
                            }).addTo(map);


                        }
                    });

                }

            });
        }
    }

    var super_startpoint = [
        "{{ object.departure_lat }}",
        "{{ object.departure_long }}"
    ];
    var super_endpoint = [
        "{{ object.arrival_lat }}",
        "{{ object.arrival_long }}"
    ];

    console.log(super_startpoint);


    var mymap = putMap(super_startpoint, 15);

    city_to_coordinates(super_startpoint, super_endpoint, [], L, mymap);

    var client;

    //Connection to MQTT

    function MQTTconnect() {
        // Create a client instance
        client = new Paho.MQTT.Client("35.189.64.191", 8083, "clientId");

        // set callback handlers
        client.onConnectionLost = onConnectionLost;
        client.onMessageArrived = onMessageArrived;

        // connect the client
        client.connect({
            onSuccess: onConnect
        });
    }

    // called when the client connects
    function onConnect() {
        // Once a connection has been made, make a subscription and send a message.
        console.log("onConnect");
        client.subscribe("test");
    }

    // called when the client loses its connection
    function onConnectionLost(responseObject) {
        if (responseObject.errorCode !== 0) {
            console.log("onConnectionLost:" + responseObject.errorMessage);
        }
        setTimeout(MQTTconnect, 2000);
    }

    // called when a message arrives
    function onMessageArrived(message) {
        console.log("onMessageArrived:" + message.payloadString);
        obj = JSON.parse(message.payloadString);
        json_to_stamps(obj, mymap);
        var lat = obj["location"]["lat"];
        var lon = obj["location"]["lon"];
        pos = [];
        pos.push(lat);
        pos.push(lon); 
        {#mymap.setView(pos, 15);#}
        var result = getConditions(lat, lon);
        var div = document.getElementById('conditions');
        div.innerHTML = JSON.stringify(result);
    }

    function json_conditions_to_plate(conditions_json) {
        wrap = "<div id=\"condit\" class=\"w3-panel w3-white w3-card-4 w3-display-container\">";
        wrap += "<p>AAAAAAAAA</p>"
        wrap += "</div>";
    }

    $(document).ready(function() {
        MQTTconnect();
    });
</script>



{% endblock scripts %} 
