{% extends "web_app_base.html" %} 

{% block title %}
<title>Optimus - Vehicle Data</title>
{% endblock title %} 

<!--Loading static library if needed-->
{% load static %} 

<!--Here we start with the content of the page-->
{% block content %} 

<!--Here we implemented security-->
{% if user.is_authenticated %}
<img src="{% static 'svg/truck-6.svg' %}" alt=""> {% for subassy in object.type.subsystem_set.all %}
<h2>{{ subassy }}</h2>
<table id="appendable" style="width: 80%; margin: auto;">
    <tr>
        {% for sensor in subassy.sensor_set.all|slice:":3" %}
        <td>
            <div class="panel" id="{{ sensor.slug }}" style="display: block;">
                <div class="panel-heading" style="display: block;">
                    <span class="panel-icon">
                <i class="fa fa-area-chart"></i>
              </span>
                    <span class="panel-title">{{ sensor.name }}</span>
                </div>
                <div class="panel-body bg-light dark" style="display: block;">
                    <div id="zoom-{{ sensor.slug }}" style="height: 100%; width: 100%;"></div>
                </div>
            </div>
        </td>
        {% endfor %}
    </tr>
<tr>
        {% for sensor in subassy.sensor_set.all|slice:"3:6" %}
        <td>
            <div class="panel" id="{{ sensor.slug }}" style="display: block;">
                <div class="panel-heading" style="display: block;">
                    <span class="panel-icon">
                <i class="fa fa-area-chart"></i>
              </span>
                    <span class="panel-title">{{ sensor.name }}</span>
                </div>
                <div class="panel-body bg-light dark" style="display: block;">
                    <div id="zoom-{{ sensor.slug }}" style="height: 100%; width: 100%;"></div>
                </div>
            </div>
        </td>
        {% endfor %}
    </tr>
<tr>
        {% for sensor in subassy.sensor_set.all|slice:"6:9" %}
        <td>
            <div class="panel" id="{{ sensor.slug }}" style="display: block;">
                <div class="panel-heading" style="display: block;">
                    <span class="panel-icon">
                <i class="fa fa-area-chart"></i>
              </span>
                    <span class="panel-title">{{ sensor.name }}</span>
                </div>
                <div class="panel-body bg-light dark" style="display: block;">
                    <div id="zoom-{{ sensor.slug }}" style="height: 100%; width: 100%;"></div>
                </div>
            </div>
        </td>
        {% endfor %}
    </tr>
</table>

{% endfor %} 
{% endif %} 

{% endblock content %} 
{% block scripts %}

<!-- Page Plugins -->
<script src="{% static 'vendor/plugins/c3charts/d3.min.js' %}"></script>
<script src="{% static 'vendor/plugins/c3charts/c3.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<!-- Page Javascript -->
<script src="{% static 'assets/js/demo/charts/d3.js' %}"></script>

<!--<script type="text/javascript">-->
<!--jQuery(document).ready(function () {-->


<!--// This page contains more Initilization Javascript than normal.-->
<!--// As a result it has its own js page. See charts.js for more info-->
<!--//D3Charts.init();-->


<!--});-->
<!--</script>-->


<script>
    var BigObject = {};

    /* All functions in this file are used only for charts.html */
    var D3Charts = function() {

        var runD3Plugins = function() {

        }

        // Init Flot Charts Plugin
        var runD3Charts = function() {

            {% for subassy in object.type.subsystem_set.all %}
            {%                for sensor in subassy.sensor_set.all %}

            // Add a series of colors to be used in the charts and pie graphs
            var Colors = [bgPrimary, bgInfo, bgWarning, bgAlert, bgDanger, bgSystem, bgSuccess, ];
            <!--var values = ['t'].concat(-->
            <!--document.getElementById('zoom-{{ sensor.slug }}').dataset.values.split(',')-->
            <!--);-->
            <!--console.log("values");-->
            <!--console.log(values);-->

            //console.log("{{ sensor.slug }}");
            //console.log(BigObject["{{ sensor.slug }}"]);
            // MouseWheel Zoom

            try {
                var chart9 = c3.generate({
                    bindto: '#zoom-{{ sensor.slug }}',
                    color: {
                        pattern: Colors,
                    },
                    padding: {
                        left: 30,
                        right: 15,
                        top: 0,
                        bottom: 0,
                    },
                    data: {
                        columns: [
                            ["UNIT"].concat(BigObject["{{ sensor.slug }}"])
                        ]
                    },
                    zoom: {
                        enabled: true
                    }
                });
            } catch (error) {

                console.error(error);
                document.getElementById('{{ sensor.slug }}').style.display = "none";
            }

            {% endfor %} {% endfor %}


            // Donut Chart
            var chart10 = c3.generate({
                bindto: '#donut-chart',
                color: {
                    pattern: Colors,
                },
                data: {
                    columns: [
                        ['data1', 10],
                        ['data2', 120],
                    ],
                    type: 'donut',
                    onclick: function(d, i) {
                        console.log("onclick", d, i);
                    },
                    onmouseover: function(d, i) {
                        console.log("onmouseover", d, i);
                    },
                    onmouseout: function(d, i) {
                        console.log("onmouseout", d, i);
                    }
                },
                donut: {
                    title: "The overall 111"
                }
            });

        };
        return {
            init: function() {
                runD3Plugins();
                runD3Charts();
            }
        };
    }();


    //<!--SOME LOGICAL DIVIDER-->
    var slice_val = 75;
    // some sample json to graph processor
    //SpeedObject.push()
    function get_params(some_object) {


        for (var key in some_object["sensors"]) {
            if (some_object["sensors"].hasOwnProperty(key)) {
                //console.log(key + " -> " + some_object["sensors"][key]);
                if (isEmpty(BigObject)) {
                    BigObject[key] = [];
                }
                if (!BigObject.hasOwnProperty(key)) {
                    BigObject[key] = [];
                }
                var current_val = parseFloat(some_object["sensors"][key]);
                if (isNaN(current_val))
                    current_val = 0;
                BigObject[key].push(current_val);
                if (BigObject[key].length > slice_val) {
                    BigObject[key] = BigObject[key].slice(-slice_val);
                }
                //slug_to_array_append(key, some_object["sensors"][key]);
                //console.log(BigObject);
            }
        }
    }

    function isEmpty(obj) {
        for (var prop in obj) {
            if (obj.hasOwnProperty(prop))
                return false;
        }

        return JSON.stringify(obj) === JSON.stringify({});
    }


    function table_appender(json_object) {
        var table = document.getElementById("appendable");
        var table_row = 0;
        var row = table.insertRow(table_row);


        var current_cell = 0;
        var table_content = "";
        var cell = row.insertCell(current_cell);

        for (var key in json_object["sensors"]) {
            if (json_object["sensors"].hasOwnProperty(key)) {
                console.log(key + " -> " + json_object["sensors"][key]);
                table_content = "<div class='panel' id='";
                table_content += key; //some_id_named_after
                table_content += "'><div class='panel-heading'><span class='panel-icon'><i class='fa fa-area-chart'></i></span><span class='panel-title'>";
                table_content += key; //some_title
                table_content += "</span></div><div class='panel-body bg-light dark'><div id='";
                table_content += key; //some_id
                table_content += "' style='height: 370px; width: 100%;'></div></div></div>";
                if (current_cell >= 1) {
                    current_cell = 0;
                    table_row += 1;
                    row = table.insertRow(table_row);
                } else {
                    current_cell += 1;
                }
                cell = row.insertCell(current_cell);
                cell.innerHTML = table_content;
            }
        }


        //MQQT starts here
        
        
        // Create a client instance
        function MQTTconnect() {
            // Create a client instance
            client = new Paho.MQTT.Client("35.189.64.191", 8083, "clientId");



            //<!--cell1.innerHTML = table_content;-->
            //<!--cell2.innerHTML = table_content;-->
        }



        // Create a client instance
        function MQTTconnect(host, port) {
            // Create a client instance
            console.log(typeof(port));
            // client = new Paho.MQTT.Client(host, port, "clientId");

            client = new Paho.MQTT.Client(host, port, "clientId");

            // set callback handlers
            client.onConnectionLost = onConnectionLost;
            client.onMessageArrived = onMessageArrived;

            // connect the client
            client.connect({
                onSuccess: onConnect
            });
        }

        // called when the client connects
        function onConnect() {
            // Once a connection has been made, make a subscription and send a message.
            console.log("onConnect");
            client.subscribe("test");
        }

        // called when the client loses its connection
        function onConnectionLost(responseObject) {
            if (responseObject.errorCode !== 0) {
                console.log("onConnectionLost:" + responseObject.errorMessage);

                sample_obj = {
                    "timestamp": 1523383353535,
                    "mission_id": 1,
                    "vehicle_id": 1,
                    "location": {
                        "lat": 55.735448203694574,
                        "lon": 48.780123124119626,
                        "alt": 104
                    },
                    "sensors": {
                        "speed": "85.78299711970612km\\/h",
                        "barometric_pressure": "98kPa",
                        "engine_coolant_temp": "96C",
                        "fuel-level": "NODATA",
                        "engine_load": "31,8%",
                        "ambient_air_temp": "9C",
                        "engine-rpm": "748RPM",
                        "intake_manifold_pressure": "NODATA",
                        "maf": "3,66g\\/s",
                        "long-term-fuel-trim-bank-2": "NODATA",
                        "fuel-type": "NODATA",
                        "air_intake_temp": "28C",
                        "fuel-pressure": "NODATA",
                        "short-term-fuel-trim-bank-2": "NODATA",
                        "short-term-fuel-trim-bank-1": "-2,3%",
                        "engine-runtime": "00:17:07",
                        "throttle-pos": "12,9%",
                        "dtc-number": "MIL is OFF0 codes",
                        "trouble-codes": "C0300\n",
                        "timing-advance": "59,6%",
                        "equiv-ratio": "1,0%"
                    },
                    "road_condition": {
                        "highway": "trunk",
                        "int_ref": "E 22",
                        "lanes": "2",
                        "lit": "yes",
                        "maxspeed": "90",
                        "ref": "\u041c-7",
                        "surface": "asphalt"
                    }
                };
                console.log(sample_obj);
                table_appender(sample_obj);
                get_params(sample_obj);

                D3Charts.init();

            }
            setTimeout(MQTTconnect, 2000);
        }

        // called when a message arrives
        function onMessageArrived(message) {
            console.log("onMessageArrived:" + message.payloadString);
            obj = JSON.parse(message.payloadString);
            get_params(obj);
            D3Charts.init();
        }
        httpGetAsync("http://" + myhost + "/api/config/", write_to_config);

</script>


{% endblock scripts %}
