{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8"> {% block title %}
    <title>Web App</title>
    {% endblock title %}

    <!--    Bootstrap 4 Martlet Optimus Alliance-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--    Datatables Martlet Optimus Alliance-->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

    <!--    Leaflet map Martlet Optimus Alliance-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />

    <!--    Leaflet line drawing-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
 
   
    <!--    C3 charts Js needed for creating charts-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.5.3/c3.min.css">

    <!--  Here more CSS style would be added if needed Martlet Optimus Alliance-->
    
    <!--  Cleaning styles-->
    <style>
        body{
            margin: 0;
            padding: 0;
            overflow-x:hidden;
            right: 0px;
        }
    </style>
    {% block styles %} {% endblock styles %}

</head>

<body>

    {% include "header_base.html" %}


<!--HERE THE CONTENT OF THE PAGE FROM WEB BASE-->

        {% block content %} {% endblock content %}




    {% include "footer_base.html" %}




    <!--Jquery Version 3.3 from google Martlet Optimus Alliance-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper 1.12 for strong flexbox Martlet Optimus Alliance-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <!-- Bootstrap Jquery and Javascript capabilities Martlet Optimus Alliance-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!--   Our data tables Martlet Optimus Alliance-->
    <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    
      <!--   maps Martlet Optimus Alliance-->

<!--    Leaflet for mapping-->
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
<!--    Google maps-->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyAREeJivT7BlAvGAtp0G6pAIR9QZUbAKhc"></script>
<script type="text/javascript" src="{% static 'assets/geocodezip/v3_epoly.js' %}"></script>
<!--   MQQT    -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="../static/assets/js/route_condition.js"></script>
<script src="../static/assets/js/xml2json.js"></script>
 

    <!--    Sticky Martlet Optimus Alliance-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.min.js"></script>

    <!-- FooTable Plugin Martlet Optimus Alliance-->
    <script src="{% static 'vendor/plugins/footable/js/footable.all.min.js' %}"></script>


    <!-- FooTable Addon Martlet Optimus Alliance-->
    <script src="{% static 'vendor/plugins/footable/js/footable.filter.min.js' %}"></script>

    <!--  C3 javascript files needed to create charts  Martlet Optimus Alliance-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.5.3/c3.min.js"></script>


    <!--    Implementations Martlet Optimus Alliance-->


    <!--    Footable searching tool implementation Martlet Optimus Alliance-->
    <script type="text/javascript">
        jQuery(document).ready(function() {

            "use strict";
            // Init Theme Core
            Core.init();
            // Init Demo JS
            Demo.init();
            // Init FooTable Examples
            $('.footable').footable();
        });

    </script>


    {% block scripts %} {% endblock %}


</body>

</html>
