{% load static %}

    <link rel="stylesheet" href="{% static 'assets/leafletjs/leaflet.css' %}"
   integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
   crossorigin=""/>


   <script src="{% static 'assets/leafletjs/leaflet.js' %}"
   integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
   crossorigin=""></script>

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyAREeJivT7BlAvGAtp0G6pAIR9QZUbAKhc"></script>

    <script type ="text/javascript" src="http://www.geocodezip.com/scripts/v3_epoly.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>